* {
    transition: .3s ease;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial;
    max-width: 1000px;
    margin: 0 auto;
}
form {
    display: block;
}
.form-inputs input[type='radio']+label {
    display: block;
    padding-top: 15px;
}
.form-inputs input[type='radio']+label:before, .form-inputs input[type='radio']+label:after {
    bottom: 1px !important;
}
button[type="submit"] {
    background: #337ab7;
    border: 0;
    outline: none;
    border-radius: 4px;
    margin: 30px 0;
    font-size: 15px;
    float: right;
    font-weight: bold;
    cursor: pointer;
    transform: translateZ(0);
    text-transform: uppercase;
    color: white;
    padding: 10px 30px;
}
button[type="submit"]:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease-out;
}
button[type="submit"]:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
textarea {
    padding: 20px !important;
    box-sizing: border-box;
}
h2, h3 {
    padding: 20px 0;
}